// aims section
section#aims.bg-gradient-primary-to-secondary.text-white
    .container.px-5
        .row.align-items-center
        h2.display-4.lh-1 Get ready to nablify!
        .col.order-lg-2.mb-lg-0
            .container-fluid
                .row
                    .col-md-4.mt-5
                        .text-center
                            i.bi-house-heart.icon-feature.text-white.d-block.mb-3
                            h3.font-alt Ownable
                            hr
                            p.text-white.mb-2
                                | We forge
                                span.fw-bold champions inside
                                | your team
                            p.text-white.mb-2
                                | We
                                span.fw-bold blend in
                                | &amp;
                                span.fw-bold integrate
                                | with your team
                            p.text-white.mb-2 We valorize your own data
                    .col-md-4.mt-5
                        .text-center
                            i.bi-bar-chart.icon-feature.text-white.d-block.mb-3
                            h3.font-alt Scalable
                            hr
                            p.text-white.mb-2
                                | We
                                span.fw-bold automate
                                | your processes
                            p.text-white.mb-2
                                | We thrive to
                                span.fw-bold reduce errors
                            p.text-white.mb-2
                                | We facilitate so you can
                                span.fw-bold serve more
                    .col-md-4.mt-5
                        .text-center
                            i.bi-arrow-repeat.icon-feature.text-white.d-block.mb-3
                            h3.font-alt Sustainable
                            hr
                            p.text-white.mb-2
                                | We
                                span.fw-bold  reuse
                                | what you already have
                            p.text-white.mb-2
                                | We guide to
                                span.fw-bold use resources efficiently
                            p.text-white.mb-2
                                | We find the
                                span.fw-bold most efficient path