section#contact.bg-primary
    .container.px-5
        .row.gx-5.align-items-center.justify-content-lg-between
            .col-lg-6.text-white
                h2.display-4.lh-1.mb-4 Let's talk
                br
                p.lead.fw-normal.mb-5.mb-lg-0
                    | We speak
                    | English, French, German,
                    br
                    | Luxembourgish, and Portuguese.
                br
                br
                p.lead.fw-normal.mb-5.mb-lg-0
                    | hello@nablify.com &nbsp;&nbsp; / &nbsp;&nbsp;
                    a(href='https://www.linkedin.com/company/nablify/', target='_blank').text-white.text-decoration-none
                        i.bi.bi-linkedin
                    br
                    br
                p.lead.fw-normal.text-white.mt-5
                    | 4, Op de Leemen
                    br
                    | L-5846 Fentange
                    br
                    | Luxembourg, Europe
                    br
                    br
                    p.text-muted 49°33'43.7"N 6°08'54.6"E
            .col-lg-5
                .map-container.mt-5
                    iframe(class="rounded-circle responsive-iframe", src="https://www.openstreetmap.org/export/embed.html?bbox=5.95836639404297%2C49.42325732410983%2C6.338424682617188%2C49.70050312905713&marker=49.56215181072835%2C6.148392856121063", width="700", height="500", frameborder="0")

