// expertise section
section#expertise
    .container.px-5
        h2.display-4.lh-1.mb-4 Expertise
        .row.align-items-center.mt-5
            .col.order-lg-3.mb-5
                .container-fluid
                    .row
                        .col-md-4.mb-5
                            // expertise engineering
                            .text-center
                                i.bi-gear-wide-connected.icon-feature.text-gradient.d-block.mb-3
                                h3.font-alt Engineering
                                hr
                                p.text-muted.mb-2
                                    | Multi-physics
                                    span.fw-bold simulations
                                p.text-muted.mb-2
                                    span.fw-bold Connectivity
                                    | &amp;
                                    span.fw-bold integration
                                    | of engineering tools
                                p.text-muted.mb-2
                                    | Usage of
                                    span.fw-bold high-tech
                                    | to solve engineering problems
                        .col-md-4.mb-5
                            // expertise scientific computing
                            .text-center
                                i.bi-cpu.icon-feature.text-gradient.d-block.mb-3
                                h3.font-alt Scientific Computing
                                hr
                                p.text-muted.mb-2
                                    | Transition to
                                    span.fw-bold cloud/super-computing
                                p.text-muted.mb-2
                                    | Migration of
                                    span.fw-bold legacy
                                    | to modern systems
                                p.text-muted.mb-2
                                    | Large-scale data
                                    span.fw-bold preparation
                                    | &amp;
                                    span.fw-bold ingestion
                        .col-md-4.mb-5
                            // expertise smart systems
                            .text-center
                                i.bi-lightbulb.icon-feature.text-gradient.d-block.mb-3
                                h3.font-alt Smart Systems
                                hr
                                p.text-muted.mb-2
                                    span.fw-bold Automation
                                    | &amp;
                                    span.fw-bold design
                                    | of smart systems
                                p.text-muted.mb-2
                                    span.fw-bold IoT platform/hub
                                    | development
                                p.text-muted.mb-2
                                    | System
                                    span.fw-bold architecture
                                    | &amp; integration
                                span#services
    .container.px-5
        h2.display-4.lh-1.mb-4 Services
        .row.align-items-center.mt-5
            .col.order-lg-8
                .container-fluid
                    .row.gx-5
                        .col-md-4.mb-5
                            // service implementation
                            .text-center
                                i.bi-rocket-takeoff.icon-feature.text-gradient.d-block.mb-3
                                h3.font-alt Implementation
                                hr
                                p.text-muted.mb-2
                                    | Code
                                    span.fw-bold development,
                                    | automation, and testing
                                p.text-muted.mb-2
                                    | Custom
                                    span.fw-bold pipelines
                                    | &amp; application software
                                p.text-muted.mb-2
                                    span.fw-bold DevOps
                                    | &amp; CI/CD
                        .col-md-4.mb-5
                            // service general advisory
                            .text-center
                                i.bi-chat-heart.icon-feature.text-gradient.d-block.mb-3
                                h3.font-alt Advisory
                                hr
                                p.text-muted.mb-2
                                    span.fw-bold Digital asset
                                    | management
                                p.text-muted.mb-2
                                    span.fw-bold DevOps
                                    | &amp;
                                    span.fw-bold system architecture
                                p.text-muted.mb-2
                                    span.fw-bold (Scientific) reproducibility
                                    | &amp; ethics
                        .col-md-4.mb-5
                            // service training //Coaching
                            .text-center
                                i.bi-journal-check.icon-feature.text-gradient.d-block.mb-3
                                h3.font-alt Academy
                                hr
                                p.text-muted.mb-2
                                    | Reproducible programming (DevOPs, git, ...)
                                p.text-muted.mb-2
                                    | High-performance computing (pods, Julia, ...)
                                p.text-muted.mb-2
                                    | Computer &amp; data science
