section#partners
    .container.px-5
        h2.display-4.lh-1.mb-4 Partners
        h5.text-muted Our partners are leaders in the following sectors:
        .row.justify-content-center
            .col-md-4.mt-5
                .text-center
                    i.bi-airplane.icon-feature.d-block.mb-3
                    h3.font-alt Aerospace
            .col-md-4.mt-5
                .text-center
                    i.bi-shield-check.icon-feature.d-block.mb-3
                    h3.font-alt Defense
            .col-md-4.mt-5
                .text-center
                    i.bi-battery-charging.icon-feature.d-block.mb-3
                    h3.font-alt Energy
        .row.justify-content-center
            .col-md-4.mt-5
                .text-center
                    i.bi-heart-pulse.icon-feature.d-block.mb-3
                    h3.font-alt Healthcare
            .col-md-4.mt-5
                .text-center
                    i.bi-cart4.icon-feature.d-block.mb-3
                    h3.font-alt Food &amp; Beverage
            .col-md-4.mt-5
                .text-center
                    i.bi-bricks.icon-feature.d-block.mb-3
                    h3.font-alt Construction