// stories section
section#stories
    .container.px-5.data-nosnippet
        h2.display-4.lh-1 Stories
        .row.gx-5.mt-5
            .col-lg-5.mt-5
                h4.text-center
                    | "To scale up, we lack experience.
                    br
                    | Can we
                    text.fw-bold nablify
                    | ?"
                img(src='assets/img/portfolio/use-case-3.jpg', style='height: 18em;').img-fluid.rounded-circle.mx-auto.d-block.mt-5
            .col-lg-7.mt-5
                h2 Enable scalable & reproducible workflows
                h5.mt-4.text-muted Challenge
                p.text-muted.mb-2
                    | Investigate millions of parameter configurations of an engineering analysis pipeline
                h5.mt-4.text-muted Solution
                p.text-muted.mb-2
                    | - Implement analysis pipelines that seamlessly integrate with existing data sources and processes
                    br
                    | - Scale the analysis pipeline to a secure high-performance platform
                    br
                    | - Generate reports automatically based on the analysis results
                h5.mt-4.text-muted Benefits
                p.text-muted.mb-2
                    | - Gain system insights at large scale
                    br
                    | - Reuse existing processes and data
                    br
                    | - Reduce significantly manual interventions
        .row.gx-5.justify-content.mt-5
            .col-lg-5.mb-5
            .col-lg-7
                img(src='assets/img/tools/slurm.svg', style='height: 2em').m-1.px-1
                img(src='assets/img/tools/julia.svg', style='height: 2em').m-1.px-1
                img(src='assets/img/tools/apptainer.svg', style='height: 2em').m-1.px-1
                img(src='assets/img/tools/kubernetes.svg', style='height: 2em').m-1.px-1
            hr.mt-5
        // story 2
        .row.gx-5
            .col-lg-5.mt-5
                h4.text-center
                    | "We have so much data. But we don't know what to do with it!
                    br
                    | Can we
                    text.fw-bold nablify
                    | ?"
                img(src='assets/img/portfolio/use-case-4.jpg', style='height: 18em;').img-fluid.rounded-circle.mx-auto.d-block.mt-5
            .col-lg-7.mt-5
                h2 Achieve data-driven agility
                h5.mt-4.text-muted Challenge
                p.text-muted.mb-2
                    | Tackle the complexity of integrating diverse data sets to gain hidden insights.
                h5.mt-4.text-muted Solution
                p.text-muted.mb-2
                    | - Implement a custom-built hub to seamlessly manage and unify data streams.
                    br
                    | - Automate existing processes to streamline operations and enhance efficiency.
                h5.mt-4.text-muted Benefits
                p.text-muted.mb-2
                    | - Data-driven decision-making
                    br
                    | - Access clean and organized data streams for training AI models
                    br
                    | - Customized cloud-based dashboards for real-time analysis and actionable insights
                    br
                    | - Seamless integration of existing systems for unified data management
        .row.gx-5.justify-content.mt-5
            .col-lg-5.mb-5
            .col-lg-7
                img(src='assets/img/tools/google_cloud.svg', style='height: 2em').m-1.px-1
                img(src='assets/img/tools/python.svg', style='height: 2em').m-1.px-1
                img(src='assets/img/tools/gitlab.svg', style='height: 2em').m-1.px-1
                img(src='assets/img/tools/docker.svg', style='height: 2em').m-1.px-1
                img(src='assets/img/tools/postgresql.svg', style='height: 2em').m-1.px-1
            hr.mt-5
        // story 3
        .row.gx-5
            .col-lg-5.mt-5
                h4.text-center.mt-2
                    | "We need to digitalize our business
                    br
                    | Can we
                    text.fw-bold nablify
                    | ?"
                img(src='assets/img/portfolio/use-case-10.jpg', style='height: 18em;').img-fluid.rounded-circle.mx-auto.d-block.mt-5
            .col-lg-7.mt-5
                h2 Emphasize the benefits of modern systems
                h5.mt-4.text-muted Challenge
                p.text-muted.mb-2
                    | Outdated systems and/or processes hinder business agility, efficiency, and security
                h5.mt-4.text-muted Solution
                p.text-muted.mb-2
                    | - Seamlessly transition from legacy to cloud-based solutions without disruption and interruption
                    br
                    | - Leverage a robust ETL pipeline to stream data into a relational database
                h5.mt-4.text-muted Benefits
                p.text-muted.mb-2
                    | - Experience a resilient and scalable cloud-based system with secure access
                    br
                    | - Repurpose existing data assets with no data loss during the migration process
                    br
                    | - Extend the lifespan of legacy tools by integrating them into the new system
                    br
                    | - Minimize the need for complete redevelopment
        .row.gx-5.justify-content.mt-5
            .col-lg-5.mb-5
            .col-lg-7
                img(src='assets/img/tools/julia.svg', style='height: 2em').m-1.px-1
                img(src='assets/img/tools/fortran.svg', style='height: 2em').m-1.px-1
                img(src='assets/img/tools/r.svg', style='height: 2em').m-1.px-1
                img(src='assets/img/tools/latex.svg', style='height: 2em').m-1.px-1
                img(src='assets/img/tools/docker.svg', style='height: 2em').m-1.px-1
                img(src='assets/img/tools/mysql.svg', style='height: 2em').m-1.px-1
