section#team
    .container.px-5.data-nosnippet
        h2.display-4.lh-1.mb-4 Leadership
        .row.mb-5
            .col-md-3.mt-5
            .col-md-6.mt-5
                .text-center
                    img(src='assets/img/team/laurent_heirendt.jpg', alt='Dr. Laurent HEIRENDT', style='height: 15em;').img-fluid.rounded-circle.mx-auto.d-block.mb-5
                    h3.font-alt
                        | Dr. Laurent
                        span.fw-bold HEIRENDT
                    p.mb-2
                        | Founder & CEO
                    hr
                    p.text-muted.mb-2
                        | PhD Aerospace Science &amp; Engineering
                        br
                        | Holder of patent for aircraft landing gear
                        br
                        | Profound experience in engineering, scientific computing &amp; smart systems
            .col-md-3.mt-5
        h2.display-4.lh-1.mb-4 Advisory Team
        .container-fluid
            .row.align-items-center
                .col-lg-6.col-md-6.col-sm-12.mt-5
                    .text-center
                        img(src='assets/img/team/mario_bauer.jpg', alt='Mr. Mario C. BAUER', style='height: 15em;').img-fluid.rounded-circle.mx-auto.d-block.mb-5
                        h3.font-alt
                            | Mr. Mario C.
                            span.fw-bold BAUER
                        p.mb-2
                            | Advisor
                            span.fw-bold Strategy & Business Development
                        hr
                        p.text-muted.mb-2
                            | Entrepreneur, Brand Ambassador, Author
                            br
                            | Former head of global expansion at Vapiano
                            br
                            | Brand Ambassador at AmRest
                            br
                            | Founder of several startups
                .col-lg-6.col-md-6.col-sm-12.mt-5
                    .text-center
                        img(src='assets/img/team/christopher_jones.jpg', alt='Mr. Christopher JONES', style='height: 15em;').img-fluid.rounded-circle.mx-auto.d-block.mb-5
                        h3.font-alt
                            | Mr. Christopher
                            span.fw-bold JONES
                        p.mb-2
                            | Advisor
                            span.fw-bold Strategy & Operations
                        hr
                        p.text-muted.mb-2
                            | Entrepreneur & CEO
                            br
                            | Managing Director at Brioche Dorée
                            br
                            | President of Alumni Association Glion
                            br
                            | Visionary leader in the food & beverage (F&B) industry
