// values section
section#values.bg-primary.text-white
    .container.px-5.data-nosnippet
        .row.align-items-center
        h2.display-4.lh-1 Values
        .col.order-lg-12.mb-lg-0.align-items-center
                .row.justify-content-center
                    .col.px-5.text-center.mt-5
                        i.bi-patch-check.icon-feature.text-white.d-block.mb-3
                        h3.font-alt Excellence
                        hr
                        p.text-white.mb-2
                            | We set high standards for quality, performance, and satisfaction.
                    .col.px-5.text-center.mt-5
                        i.bi-intersect.icon-feature.text-white.d-block.mb-3
                        h3.font-alt Integrity
                        hr
                        p.text-white.mb-2
                            | We build on trust & act with honesty, transparency, and integrity.
                    .col.px-5.text-center.mt-5
                        i.bi-sunrise.icon-feature.text-white.d-block.mb-3
                        h3.font-alt Continuity
                        hr
                        p.text-white.mb-2
                            | We are resilient in the face of challenges and leverage setbacks as opportunities.
                    .col.px-5.text-center.mt-5
                        i.bi-bullseye.icon-feature.text-white.d-block.mb-3
                        h3.font-alt Responsibility
                        hr
                        p.text-white.mb-2
                            | We take ownership, take initiative, and assume responsibility.
                    .col.px-5.text-center.mt-5
                        i.bi-magic.icon-feature.text-white.d-block.mb-3
                        h3.font-alt Adaptability
                        hr
                        p.text-white.mb-2
                            | We embrace change and continuous innovation.
