//
// Colors
//

// Override Bootstrap color systel colors

$blue: #222d3f;
$dark-blue: #222d3f;
$yellow: #FFA600;
$red: #cc2936;
$white: #ffffff;

// Override Bootstrap default state colors

$primary: $blue;
$secondary: $yellow;
$tertiary: $red;